body {
    background-color: #f8f9fa;
   
}

.container {
    max-width: 1200px;
     padding-bottom: 50px;
}

.table-responsive {
    margin-top: 20px;
}

.badge {
    font-size: 0.9em;
}

.lead {
    margin-bottom: 30px;
}

.btn-group {
    margin-bottom: 15px;
}